video {
    position: fixed;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    margin-top: -1%;
    margin-left: -1%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    top: 0%;
    left: 1%;
}

.name_cap{
    width: 60%;
    margin-left: 20%;
    margin-top: -18%;
}
.back{
    width: 20%;
    margin-left: 85%;
    margin-top: -24%;
}
.back_text{
    color: aqua;
    font-weight: bold;
    font-size: 20px;
    margin-top: -5.5%;
}
.back:hover{
    transform: scale(1.1);
    transition: all 0.1s;
}

price{
    font-weight: bold;
    font-size: 45px;
    color: aqua;
    background-color: rgba(0, 0, 0, 0.75);

}
.cart{
    width: 15%;
}

.new_spec{
    font-weight: bold;
    font-size: medium;
    color: white;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.75);
}
.header{
    color: aqua;
}
.screen{
    width: 30%;
    margin-top: 3%;
}
.stack{
    margin-top: 5%;
}
.art1{
    width: 20%;
    margin-left: 2.5%;
}
.art2{
    width: 20%;
    margin-left: 27.5%;
    margin-top: -20%;
}
.art3{
    width: 20%;
    margin-left: 52.5%;
    margin-top: -20%;
}
.art4{
    width: 20%;
    margin-left: 77.5%;
    margin-top: -20%;
}
.art5{
    width: 20%;
    margin-left: 2.5%;

}
.art6{
    width: 20%;
    margin-left: 27.5%;
    margin-top: -20%;
}
.art7{
    width: 20%;
    margin-left: 52.5%;
    margin-top: -20%;
}
.art8{
    width: 20%;
    margin-left: 77.5%;
    margin-top: -20%;
}

.art1:hover{
    transform: scale(1.1);
    transition: all 0.1s;
}
.art2:hover{
    transform: scale(1.1);
    transition: all 0.1s;
}
.art3:hover{
    transform: scale(1.1);
    transition: all 0.1s;
}
.art4:hover{
    transform: scale(1.1);
    transition: all 0.1s;
}
.art5:hover{
    transform: scale(1.1);
    transition: all 0.1s;
}
.art6:hover{
    transform: scale(1.1);
    transition: all 0.1s;
}
.art7:hover{
    transform: scale(1.1);
    transition: all 0.1s;
}
.art8:hover{
    transform: scale(1.1);
    transition: all 0.1s;
}
