
body{
    /*background-image: url("../images/background.jpg");*/
}

video{
    position: fixed;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    margin-top: -1%;
    margin-left: -1%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    top: 0%;
    left: 1%;
}

.name_cap{
    width: 60%;
    margin-left: 20%;
    margin-top: -18%;
}

.preview{
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 8px;
    color: white;
    margin-top: -15%;
}

.odnoraz {
    width: 25%;
    margin-left: 5%;
}
.minifit {
    width: 25%;
    margin-left: 37.5%;
    margin-top: -15%;
}
.other {
    width: 25%;
    margin-left: 70%;
    margin-top: -15%;
}
.new_spec{
    font-weight: bold;
    font-size: 10px;
    color: white;
    margin-top: -20%;
    margin-left: 5%;
}

.odnoraz:hover{
     transform: scale(1.3);
     transition: all 0.4s;
 }
.minifit:hover{
    transform: scale(1.3);
    transition: all 0.4s;
}
.other:hover{
    transform: scale(1.3);
    transition: all 0.4s;
}

.slot1{
    width: 25%;
    margin-left: 7%;
    margin-top: 17%;
}
.slot2{
    width: 25%;
    margin-left: 35%;
    margin-top: -25%;
}
.slot3{
    width: 25%;
    margin-left: 65%;
    margin-top: -25%;
}

.slot1:hover{
    transform: scale(1.5);
    transition: all 0.4s;
}
.slot2:hover{
    transform: scale(1.5);
    transition: all 0.4s;
}
.slot3:hover{
    transform: scale(1.5);
    transition: all 0.4s;
}

.version{
    font-size: 8px;
    color: aqua;
    margin-left: 90%;
}

